.lottery {
   border-radius: 10px;
   border: solid 2px plum;
   width: 40em;
   text-align: center;
   padding: 1em 0 2em 0;
   margin: 1em auto auto;
}
.lottery button {
   background-color: skyblue;
   color: brown;
   font-size: 120%;
   border-radius: 10px;
   margin-top: 1em;
}
